//backgrounds
$mainColor : #080e26;
$secondMainColor :#253358;

//cores de texto
$textColor: #9fadd0;
$subTextColor: #d24d4e;
$titleColor: #fbfbfb;
$linkActive:#b53e51;
$liActiceColor: #d04153;
$buttonTextColor: #eedce8;

//cor do botâo
$ButtonColor : #de4d54;

// cores das bordas e das sombras
$gift: #f04e59;
$shadowColorOne: #663249;
$balance-scale: #e87b42;
$shadowColorTwo: #6a483f;
$female: #b65fd0;
$shadowColorThree: #935ac1;